* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --purple: #8074A0;
    --mint: #26E1E8;
}
body {
    background-color: #191919;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    max-width: 960px;
    margin: 50px auto;
    padding: 0px 20px;
}
h1 {
    color: var(--purple);
}
.hr {
    width: 100%;
}
nav {
    margin: 40px auto;
}
nav ul  {
    display: flex;
    list-style-type: none;
}
nav ul li { 
    padding-right: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
section {
    background-color: black;
    border: 2px solid var(--purple);
    border-bottom-right-radius: 30px;
    padding: 20px
}

.projects {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 30%;
    list-style-type: none;
    flex-direction: column;
    margin: 10px 30px 10px 0px;
    border: 1px solid var(--mint);
}
.projects li {
    padding: 10px;
    border-bottom: 1px solid var(--mint);
}

.projects li:hover {
    background-color: var(--mint);
}
.about-container {
    display: flex;
}
.project-container {
    margin: 10px 0;
    border: 1px solid var(--mint);
    padding: 10px;
}

.copyright {
    text-align: center;
    font-style: italic;
}

footer {
    margin-top: 20px;
}