* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #191919;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    max-width: 960px;
    margin: 50px auto;
    padding: 0px 20px;
}
h1 {
    color: #8074A0;
}
.hr {
    width: 100%;
}
nav {
    margin: 40px auto;
}
nav ul  {
    display: flex;
    list-style-type: none;
}
nav ul li { 
    padding-right: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.copyright {
    text-align: center;
    font-style: italic;
}