---
import '../styles/global.css';
import { ViewTransitions } from 'astro:transitions';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'JAYCRUZ'
---
<BaseLayout pageTitle={pageTitle}>
	<p>This shows up here.</p>
	
</BaseLayout>


