---
---
<div class="project-container">
    <h3>Selected Project</h3>
    <p>Detail info about the project. Something interesting
        That explains stuff that’s really cool. Lorem Ipsum is 
        simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry’s 
        standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and 
        scrambled it to make a type specimen book. It has 
        survived not only five centuries, but also the leap 
        into electronic typesetting, remaining essentially
        unchanged. It was popularised</p>
    <div class="links">
        <a href="#">CODE</a>
        <a href="#">DEMO</a>
    </div>    
</div>